*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Lexend", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  --neutral-white: #fff;
  --neutral-black: #000000be;
  --bg-primary: #54efc3;
  --text-primary: #131313;
  --bg-secondary: #4943da;
  --text-secondary: #ffffffea;
  /* --bg-tertiary: ; */
  --text-tertiary: #8b8b8b;
  --text-quarternery: #000000de;
  --gray: #4d596a;
  --success: #088940;


  color: var(----neutral-black);
  background-color: var(--neutral-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {

}
